.IndexTable {
    --pc-index-table-translate-offset: 2.1875rem;
    --pc-index-table-table-header-offset: 3.25rem;
    --pc-index-table-cell: 1;
    --pc-index-table-sticky-cell: 31;
    --pc-index-table-scroll-bar: 35;
    --pc-index-table-bulk-actions: 36;
    --pc-index-table-loading-panel: 37;
    border-radius: inherit;
    overflow: hidden;
    position: relative
}

.IndexTable__LoadingContainer--enter {
    opacity: 0;
    transform: translateY(-100%)
}

.IndexTable--loadingContainerEnterActive {
    opacity: 1;
    transform: translateY(0);
    transition: opacity var(--p-duration-100) var(--p-ease-out),transform var(--p-duration-100) var(--p-ease-out)
}

.IndexTable__LoadingContainer--exit {
    opacity: 1;
    transform: translateY(0)
}

.IndexTable--loadingContainerExitActive {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity var(--p-duration-100) var(--p-ease-in),transform var(--p-duration-100) var(--p-ease-in)
}

.IndexTable__LoadingPanel {
    align-items: center;
    background: var(--p-surface);
    box-shadow: var(--p-shadow-base);
    display: flex;
    justify-content: center;
    left: 0;
    padding: var(--p-space-2) var(--p-space-4);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: var(--pc-index-table-loading-panel)
}

.IndexTable__LoadingPanel .IndexTable__LoadingPanelRow {
    background: var(--p-surface-highlight-subdued);
    border-radius: var(--p-border-radius-1);
    display: flex;
    flex-wrap: nowrap;
    padding: var(--p-space-2);
    padding-bottom: var(--p-space-1);
    width: 100%
}

.IndexTable__LoadingPanelText {
    color: var(--p-text);
    margin-left: var(--p-space-3)
}

.IndexTable__Table {
    border-collapse: collapse;
    min-width: 100%;
    width: 100%
}

.IndexTable__Table--scrolling .IndexTable__TableCell--first,.IndexTable__Table--scrolling .IndexTable__TableCell--first+.IndexTable__TableCell,.IndexTable__Table--scrolling .IndexTable__TableHeading--first,.IndexTable__Table--scrolling .IndexTable__TableHeading--second {
    background-color: var(--p-surface);
    visibility: visible
}

.IndexTable__Table--scrolling .IndexTable__TableCell--first,.IndexTable__Table--scrolling .IndexTable__TableHeading--first {
    filter: drop-shadow(.0625rem 0 0 var(--p-divider))
}

@media (min-width: 28.625em) {
    .IndexTable__Table--scrolling .IndexTable__TableCell--first+.IndexTable__TableCell,.IndexTable__Table--scrolling .IndexTable__TableHeading--second {
        filter:drop-shadow(.0625rem 0 0 var(--p-divider))
    }
}

.IndexTable__Table--scrolling.IndexTable__Table--unselectable .IndexTable__TableCell:first-child,.IndexTable__Table--scrolling.IndexTable__Table--unselectable .IndexTable__TableHeading--second {
    filter: drop-shadow(.0625rem 0 0 var(--p-divider));
    visibility: visible
}

.IndexTable__TableRow {
    background-color: var(--p-surface);
    cursor: pointer;
    filter: drop-shadow(0 -.0625rem 0 var(--p-divider))
}

.IndexTable__TableRow.IndexTable__TableRow--unclickable {
    cursor: auto
}

.IndexTable__TableRow.IndexTable--statusSuccess,.IndexTable__TableRow.IndexTable--statusSuccess .IndexTable__TableCell--first,.IndexTable__TableRow.IndexTable--statusSuccess .IndexTable__TableCell--first+.IndexTable__TableCell {
    background-color: var(--p-surface-primary-selected)
}

.IndexTable__TableRow.IndexTable--statusSubdued,.IndexTable__TableRow.IndexTable--statusSubdued .IndexTable__TableCell--first,.IndexTable__TableRow.IndexTable--statusSubdued .IndexTable__TableCell--first+.IndexTable__TableCell {
    background-color: var(--p-surface-subdued)
}

.IndexTable__TableRow.IndexTable__TableRow--hovered,.IndexTable__TableRow.IndexTable__TableRow--hovered .IndexTable__TableCell--first,.IndexTable__TableRow.IndexTable__TableRow--hovered .IndexTable__TableCell--first+.IndexTable__TableCell {
    background-color: var(--p-surface-hovered)
}

.IndexTable__TableRow.IndexTable__TableRow--selected,.IndexTable__TableRow.IndexTable__TableRow--selected .IndexTable__TableCell--first,.IndexTable__TableRow.IndexTable__TableRow--selected .IndexTable__TableCell--first+.IndexTable__TableCell,.IndexTable__TableRow.IndexTable__TableRow--selected .IndexTable__TableHeading--first,.IndexTable__TableRow.IndexTable__TableRow--selected .IndexTable__TableHeading--second {
    background-color: var(--p-surface-selected)
}

.IndexTable__TableRow.IndexTable__TableRow--hovered.IndexTable__TableRow--selected,.IndexTable__TableRow.IndexTable__TableRow--hovered.IndexTable__TableRow--selected .IndexTable__TableCell--first,.IndexTable__TableRow.IndexTable__TableRow--hovered.IndexTable__TableRow--selected .IndexTable__TableCell--first+.IndexTable__TableCell {
    background-color: var(--p-surface-selected-hovered)
}

.IndexTable__TableRow--subdued {
    color: var(--p-text-subdued)
}

.IndexTable__TableRow--disabled {
    color: var(--p-text-subdued);
    cursor: default
}

.IndexTable__TableHeading {
    border: 0;
    font-weight: var(--p-font-weight-medium);
    padding: var(--p-space-2) var(--p-space-4);
    text-align: left;
    white-space: nowrap
}

.IndexTable__TableHeading--flush {
    padding: 0
}

.IndexTable__TableHeading--first {
    --pc-index-table-checkbox-offset-left: 1rem;
    --pc-index-table-checkbox-offset-right: 1.125rem;
    left: 0;
    padding-left: var(--pc-index-table-checkbox-offset-left);
    padding-right: var(--pc-index-table-checkbox-offset-right);
    position: sticky;
    width: var(--p-space-5)
}

.IndexTable__ColumnHeaderCheckboxWrapper {
    display: flex
}

.IndexTable__FirstStickyHeaderElement {
    margin-left: calc(var(--p-space-05)*-1);
    padding-right: var(--p-space-05)
}

.IndexTable__TableHeading--second:not(.IndexTable__TableHeading--unselectable) {
    padding-left: 0
}

@media (min-width: 28.625em) {
    .IndexTable__TableHeading--second:not(.IndexTable__TableHeading--unselectable) {
        left:0;
        position: sticky;
        z-index: auto
    }
}

.IndexTable__TableHeading--second.IndexTable__TableHeading--unselectable {
    left: 0;
    position: sticky;
    z-index: auto
}

.IndexTable__TableCell {
    padding: var(--p-space-2) var(--p-space-4);
    text-align: left;
    white-space: nowrap;
    z-index: var(--pc-index-table-cell)
}

.IndexTable__TableCell--flush {
    padding: 0
}

.IndexTable__TableCell--first {
    left: 0;
    padding: var(--p-space-2) 0;
    position: sticky;
    vertical-align: middle;
    z-index: var(--pc-index-table-sticky-cell)
}

.IndexTable__TableCell--first+.IndexTable__TableCell {
    left: var(--pc-checkbox-offset);
    padding-left: 0
}

@media (min-width: 28.625em) {
    .IndexTable__TableCell--first+.IndexTable__TableCell {
        position:sticky;
        z-index: var(--pc-index-table-sticky-cell)
    }
}

.IndexTable__Table--unselectable .IndexTable__TableCell:first-child {
    background-color: var(--p-surface);
    left: 0;
    position: sticky;
    z-index: var(--pc-index-table-sticky-cell)
}

.IndexTable__Table--unselectable .IndexTable--statusSuccess .IndexTable__TableCell:first-child {
    background-color: var(--p-surface-primary-selected)
}

.IndexTable__Table--unselectable .IndexTable--statusSubdued .IndexTable__TableCell:first-child {
    background-color: var(--p-surface-subdued)
}

.IndexTable__Table--unselectable .IndexTable__TableRow--hovered .IndexTable__TableCell:first-child {
    background-color: var(--p-surface-hovered)
}

@media (min-width: 28.625em) {
    .IndexTable--tableStickyScrolling .IndexTable__TableCell:last-child,.IndexTable--tableStickyScrolling .IndexTable__TableHeading--last {
        filter:drop-shadow(-.0625rem 0 0 var(--p-divider))
    }

    .IndexTable--tableStickyLast .IndexTable__TableCell:last-child {
        background-color: var(--p-surface);
        position: sticky;
        right: 0;
        z-index: var(--pc-index-table-sticky-cell)
    }

    .IndexTable--tableStickyLast .IndexTable__TableHeading--last {
        background-color: var(--p-surface);
        position: sticky;
        right: 0;
        z-index: auto
    }
}

.IndexTable--tableStickyLast .IndexTable--statusSuccess .IndexTable__TableCell:last-child {
    background-color: var(--p-surface-primary-selected)
}

.IndexTable--tableStickyLast .IndexTable--statusSubdued .IndexTable__TableCell:last-child {
    background-color: var(--p-surface-subdued)
}

.IndexTable--tableStickyLast .IndexTable__TableRow--hovered .IndexTable__TableCell:last-child {
    background-color: var(--p-surface-hovered)
}

.IndexTable--tableStickyLast .IndexTable__TableRow--selected .IndexTable__TableCell:last-child {
    background-color: var(--p-surface-selected)
}

.IndexTable__StickyTable {
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: var(--pc-index-table-loading-panel)
}

.IndexTable__StickyTableHeader {
    display: flex;
    position: absolute;
    width: 100%
}

.IndexTable__StickyTableHeader:not(.IndexTable__StickyTableHeader--isSticky) {
    left: -62.5rem;
    top: -62.5rem
}

.IndexTable__StickyTableColumnHeader {
    flex: 0 0 auto
}

.IndexTable__StickyTableColumnHeader--isScrolling {
    box-shadow: .0625rem .0625rem 0 0 var(--p-border-divider),.0625rem 0 .0625rem .0625rem #3f3f440d,.0625rem 0 .1875rem 0 #3f3f4426
}

.IndexTable__StickyTableHeadings {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden
}

.IndexTable__StickyTableHeading--second {
    padding-left: 0
}

@media (min-width: 28.625em) {
    .IndexTable__StickyTableHeading--second {
        display:none
    }
}

.IndexTable__StickyTableHeading--second.IndexTable--unselectable {
    display: none
}

.IndexTable--stickyTableHeadingSecondScrolling {
    display: none;
    padding: 0 var(--p-space-025) 0 var(--p-space-4)
}

@media (min-width: 28.625em) {
    .IndexTable--stickyTableHeadingSecondScrolling {
        display:block
    }
}

.IndexTable__StickyTableHeader--isSticky {
    background-color: var(--p-surface);
    box-shadow: var(--p-shadow-base);
    visibility: visible
}

.IndexTable .IndexTable__ScrollRight--onboarding,.IndexTable:hover .IndexTable__ScrollLeft,.IndexTable:hover .IndexTable__ScrollRight {
    display: block
}

.IndexTable__BulkActionsWrapper {
    background: var(--p-surface);
    left: 0;
    padding: var(--p-space-2);
    position: relative;
    right: 0;
    top: 0;
    visibility: visible;
    z-index: var(--pc-index-table-bulk-actions)
}

.IndexTable__ScrollBarContainer {
    background-color: var(--p-surface);
    border-bottom-left-radius: var(--p-border-radius-2);
    border-bottom-right-radius: var(--p-border-radius-2);
    bottom: 0;
    padding: var(--p-space-05);
    position: sticky;
    z-index: var(--pc-index-table-scroll-bar)
}

.IndexTable--scrollBarContainerCondensed {
    pointer-events: none;
    visibility: hidden
}

.IndexTable--scrollBarContainerHidden {
    display: none
}

.IndexTable__ScrollBar {
    margin: 0;
    overflow-x: scroll;
    padding: 0;
    width: 100%
}

.IndexTable__ScrollBar::-webkit-scrollbar-track {
    background-color: initial;
    border-radius: var(--p-border-radius-1)
}

.IndexTable__ScrollBar::-webkit-scrollbar {
    -webkit-appearance: none;
    appearance: none;
    background-color: initial;
    height: var(--p-space-2);
    width: var(--p-space-2)
}

.IndexTable__ScrollBar::-webkit-scrollbar-thumb {
    background-color: var(--p-border-neutral-subdued);
    border-radius: var(--p-border-radius-1);
    -webkit-transition: background-color var(--p-duration-100) var(--p-ease-out);
    transition: background-color var(--p-duration-100) var(--p-ease-out)
}

.IndexTable__ScrollBar:hover::-webkit-scrollbar-thumb {
    background-color: var(--p-border-depressed)
}

.IndexTable--disableTextSelection {
    -webkit-user-select: none;
    user-select: none
}

.IndexTable--selectMode {
    margin-bottom: calc(var(--pc-index-table-table-header-offset)*-1);
    transform: translateY(calc(var(--pc-index-table-table-header-offset)*-1))
}

.IndexTable__EmptySearchResultWrapper {
    padding: var(--p-space-4)
}

.IndexTable--condensedRow {
    align-items: center;
    border-top: var(--p-border-divider);
    display: flex;
    filter: none;
    transform: translateX(calc(var(--pc-index-table-translate-offset)*-1));
    transition: transform var(--p-ease) var(--p-duration-200);
    width: calc(100% + var(--pc-index-table-translate-offset))
}

[data-selectmode=true] .IndexTable--condensedRow {
    transform: none
}

.IndexTable__CondensedList {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0
}

.IndexTable__HeaderWrapper {
    align-items: center;
    background-color: var(--p-surface);
    display: flex;
    min-height: 3.5rem;
    padding: var(--p-space-2) var(--p-space-4);
    position: relative;
    width: 100%
}

.IndexTable__HeaderWrapper.IndexTable--unselectable {
    min-height: auto;
    padding: 0
}

.IndexTable__StickyTable--condensed {
    visibility: visible
}

.IndexTable__StickyTableHeader--condensed {
    padding: var(--p-space-4) var(--p-space-4) var(--p-space-2)
}

.IndexTable__ScrollBarContent {
    height: .0625rem;
    width: var(--pc-index-table-scroll-bar-content-width)
}

.IndexTable-ScrollContainer {
    -ms-overflow-style: none;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scrollbar-width: none
}

.IndexTable-ScrollContainer::-webkit-scrollbar {
    display: none
}

.Tabs {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0
}

.Tabs__Wrapper {
    border-bottom: var(--p-border-divider);
    padding: 0 var(--p-space-2)
}

.Tabs--fitted {
    flex-wrap: nowrap
}

.Tabs--fitted .Tabs__TabContainer {
    flex: 1 1 100%
}

.Tabs--fitted .Tabs__Title {
    padding: var(--p-space-2) var(--p-space-4);
    width: 100%
}

.Tabs--fillSpace .Tabs__TabContainer {
    flex: 1 1 auto
}

.Tabs__TabContainer {
    display: flex;
    margin: 0;
    padding: 0
}

.Tabs__Tab {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: none;
    color: inherit;
    color: var(--p-text-subdued);
    color: var(--p-text);
    cursor: pointer;
    font-size: inherit;
    font-size: var(--p-font-size-4);
    font-weight: var(--p-font-weight-regular);
    justify-content: center;
    letter-spacing: normal;
    line-height: inherit;
    line-height: var(--p-line-height-2);
    margin: 0;
    margin-bottom: calc(var(--p-space-025)*-1);
    margin-top: var(--p-space-025);
    min-width: 100%;
    outline: none;
    padding: 0;
    padding: var(--p-space-2) var(--p-space-1);
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    white-space: nowrap;
    width: 100%
}

.Tabs__Tab:focus {
    outline: none
}

@media (min-width: 40em) {
    .Tabs__Tab {
        font-size:var(--p-font-size-3)
    }
}

.Tabs__Tab:hover {
    text-decoration: none
}

.Tabs__Tab:hover .Tabs__Title {
    background-color: initial;
    color: var(--p-text);
    font-weight: var(--p-font-weight-regular)
}

.Tabs__Tab:hover .Tabs__Title:before {
    background-color: var(--p-border-hovered)
}

.Tabs__Tab:active .Tabs__Title {
    background-color: initial
}

.Tabs__Tab:active .Tabs__Title:before {
    background: var(--p-surface-primary-selected-pressed)
}

.Tabs__Tab:focus .Tabs__Title {
    color: var(--p-text);
    font-weight: var(--p-font-weight-regular)
}

.Tabs__Tab:focus:not(:active) .Tabs__Title:after {
    box-shadow: 0 0 0 .125rem var(--p-focused);
    outline: var(--p-border-width-1) solid #0000
}

.Tabs__Tab:visited {
    color: inherit
}

.Tabs__Tab--selected {
    color: var(--p-text);
    font-weight: var(--p-font-weight-regular)
}

.Tabs__Tab--selected:focus .Tabs__Title {
    outline: var(--p-border-width-3) solid #0000
}

.Tabs__Tab--selected:focus .Tabs__Title:before {
    background: var(--p-action-primary)
}

.Tabs__Tab--selected .Tabs__Title {
    color: var(--p-text);
    outline: var(--p-border-width-3) solid #0000
}

.Tabs__Tab--selected .Tabs__Title:before {
    background: var(--p-action-primary)
}

.Tabs__Title {
    border-radius: var(--p-border-radius-1);
    color: var(--p-text-subdued);
    display: block;
    min-width: 3.125rem;
    padding: var(--p-space-2) var(--p-space-4);
    position: relative
}

.Tabs__Title:after {
    border-radius: calc(var(--p-border-radius-1) + .0625rem);
    bottom: -.0625rem;
    box-shadow: 0 0 0 -.0625rem var(--p-focused);
    content: "";
    display: block;
    left: -.0625rem;
    pointer-events: none;
    position: absolute;
    right: -.0625rem;
    top: -.0625rem;
    transition: box-shadow var(--p-duration-100) var(--p-ease);
    z-index: 1
}

.Tabs__Title:before {
    border-top-left-radius: var(--p-border-radius-1);
    border-top-right-radius: var(--p-border-radius-1);
    bottom: calc(var(--p-space-2)*-1);
    content: "";
    height: var(--p-border-width-3);
    left: 0;
    position: absolute;
    right: 0
}

.Tabs--titleWithIcon {
    display: flex
}

.Tabs__Panel {
    display: block
}

.Tabs__Panel:focus {
    outline: none
}

.Tabs__Panel--hidden {
    display: none
}

.Tabs__List {
    list-style: none;
    margin: 0;
    padding: var(--p-space-2)
}

.Tabs__Item {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: none;
    border-radius: var(--p-border-radius-1);
    color: inherit;
    cursor: pointer;
    display: block;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    min-height: 1rem;
    padding: 0;
    padding: .5rem var(--p-space-4);
    position: relative;
    text-align: left;
    text-decoration: none;
    width: 100%
}

.Tabs__Item:focus {
    outline: none
}

.Tabs__Item:after {
    border-radius: calc(var(--p-border-radius-1) + .0625rem);
    bottom: -.0625rem;
    box-shadow: 0 0 0 -.0625rem var(--p-focused);
    content: "";
    display: block;
    left: -.0625rem;
    pointer-events: none;
    position: absolute;
    right: -.0625rem;
    top: -.0625rem;
    transition: box-shadow var(--p-duration-100) var(--p-ease);
    z-index: 1
}

.Tabs__Item::-moz-focus-inner {
    border: none
}

.Tabs__Item:hover {
    background-color: var(--p-surface-hovered)
}

.Tabs__Item:active {
    background-color: var(--p-surface-primary-selected-pressed)
}

.Tabs__Item:focus:not(:active):after {
    box-shadow: 0 0 0 .125rem var(--p-focused);
    outline: var(--p-border-width-1) solid #0000
}

.Tabs__Item:visited {
    color: inherit
}

.Tabs__DisclosureTab {
    display: none
}

.Tabs__DisclosureTab--visible {
    display: flex
}

.Tabs__DisclosureActivator {
    background-color: initial;
    border: none;
    cursor: pointer;
    height: 100%;
    margin: var(--p-space-025) var(--p-space-025) calc(var(--p-space-025)*-1) 0;
    outline: none;
    position: relative
}

.Tabs__DisclosureActivator:after {
    border-radius: calc(var(--p-border-radius-1) + .0625rem);
    bottom: -.0625rem;
    box-shadow: 0 0 0 -.0625rem var(--p-focused);
    content: "";
    display: block;
    left: -.0625rem;
    pointer-events: none;
    position: absolute;
    right: -.0625rem;
    top: -.0625rem;
    transition: box-shadow var(--p-duration-100) var(--p-ease);
    z-index: 1
}

.Tabs__DisclosureActivator:focus svg,.Tabs__DisclosureActivator:hover svg {
    fill: var(--p-icon)
}

.Tabs__DisclosureActivator:focus .Tabs__Title:after {
    box-shadow: 0 0 0 .125rem var(--p-focused);
    outline: var(--p-border-width-1) solid #0000
}

.Tabs__DisclosureActivator:hover .Tabs__Title:before {
    background-color: var(--p-border-hovered)
}

.Tabs__TabMeasurer {
    display: flex;
    height: 0;
    visibility: hidden
}

.IndexTable-Checkbox__TableCellContentContainer {
    align-items: center;
    display: flex
}

.IndexTable-Checkbox__Wrapper {
    align-items: center;
    display: flex;
    justify-content: center
}

.IndexTable-Checkbox--expanded {
    height: 1.25rem;
    padding-left: var(--p-space-4);
    width: 2.25rem
}

.IndexTable-Checkbox--condensed {
    margin-right: calc(var(--p-space-4)*-1);
    min-height: 2.75rem;
    min-width: 3.125rem
}
